@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  /* Colors: */
  $color-ff6e4e: #FF6E4E;
  $color-38ccf5: #38CCF5;
  $color-000000: #000000;
  $color-ffffff: #FFFFFF;
  $color-fbfbfb: #FBFBFB;
  $color-dedede: #DEDEDE;
  $color-707070: #707070;
  $color-008cc9: #008CC9;
  $color-38ccf51c: #38CCF5;
  $color-0052ef: #0052EF;
  $color-e4e4e4: #E4E4E4;
  $color-0037ff80: #0037FF;
  $color-00509d: #00509D;
  $color-006cc9: #006CC9;
  $primary_color : #FF6E4E;
  $secondary_color: rgba(139, 61, 25, 0.69);
  
  /* Font/text values */
  $font-family-roboto: "Roboto";
  $font-style-normal: normal;
  $font-weight-normal: normal;
  $font-size-14: 14px;
  $font-size-16: 16px;
  $font-size-18: 18px;
  $font-size-25: 25px;
  $font-size-28: 28px;
  $font-size-34: 34px;
  $font-size-45: 45px;
  $font-size-54: 54px;
  $character-spacing-0: 0px;
  $line-spacing-17: 17px;
  $line-spacing-19: 19px;
  $line-spacing-22: 22px;
  $line-spacing-30: 30px;
  $line-spacing-34: 34px;
  $line-spacing-41: 41px;
  $line-spacing-54: 54px;
  $line-spacing-65: 65px;