<div class="footer-page">
    <div class="footer-text">
        <div>
            <span class="copyright">Copyright © 2020. All Rights Reserved.</span>
            <span class="home">HOME</span>
            <span class="feature">FEATURES</span>
            <span class="terms">TERMS</span>
            <span class="privacy">PRIVACY</span>
            <span class="contact">Contact US</span>
        </div>
        <div>
            <span class="facebook-logo"></span>
            <span class="instagram-logo"></span>
            <span class="twitter-logo"></span>
        </div>
    </div>
</div>